<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/blue.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>{% block title %}primabase{% endblock %}</title>
		{% block extra_head %}{% endblock %}
  </head>
  <body>
		{% set active_page = active_page|default('index') -%}
<div class="container">
	<div class="row" style="margin: 6px 0;">
	<div class="col-sm"><img src="/static/img/pu_red.png"></div>
	<div class="col-sm"><img src="/static/img/bws_sul2.png"></div>
	</div>
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top shadow-sm mb-1">
	<div class="container">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
			<li class="nav-item {% if active_page == 'index'%}active{% endif %}">
				<a class="nav-link" href="/"><i class="fas fa-home mr-2"></i>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if active_page == 'curahhujan'%}active{% endif %}">
				<a class="nav-link" href="/curahhujan"><i class="fas fa-cloud-rain ml-4 mr-2"></i>Curah Hujan</a>
      </li>
      <li class="nav-item {% if active_page == 'tma'%}active{% endif %}">
				<a class="nav-link" href="/tma"><i class="fas fa-level-up-alt ml-4 mr-2"></i>Tinggi Muka Air</a>
      </li>
    </ul>
  </div>
	</div>
</nav>
    <div class="container" style="height: auto; min-height: 100%;">
    {% block content %}
    <h1>Hello, world!</h1>
    {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
    {% block extra_foot %}{% endblock %}
  </body>
</html>
